<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:label="ZenFlow"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AdminLoginActivity" />

        <activity android:name=".SettingsActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".FocusActivity" />
        <activity android:name=".MainActivity" />

    </application>
</manifest>
